__pycache__/*
yfinance/__pycache__/*
dist
node_modules/
yfinance.egg-info
*.pyc
.coverage
.idea/
.vscode/
.claude/
build/
/ryroeu/
test.ipynb

# Environments
.env
.venv
env/
venv/
ENV/

# Documentation
/doc/build/
/doc/_build/
/doc/source/reference/api
!/doc/source/development/assets/branches.png
